<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.buma.pa.bean.core.PaUrl">
    <resultMap id="PaUrlResultMap" type="fun.buma.pa.bean.core.PaUrl">
        <id property="id" javaType="String" column="id"/>
        <result property="func" javaType="String" column="func"/>
        <result property="url" javaType="String" column="url"/>
        <result property="done" javaType="int" column="done"/>
    </resultMap>

    <insert id="insertNewUrl">
        insert into data_url
        (id,func,url,done)
        values
        (#{id}, #{func}, #{url}, #{done})
    </insert>

    <update id="updateUrlStatus">
        update data_url u
        set u.done = 1
        where u.url = #{url}
    </update>

    <select id="getUrlListFromDataBase" resultType="string">
        SELECT
            u.url
        FROM
            data_url u
        WHERE
            u.url LIKE CONCAT('%',#{domain},'%')
    </select>

    <select id="getUrlNotDone" resultType="string">
        SELECT
            u.url
        FROM
            data_url u
        WHERE
            u.done = 0
            AND u.func = #{func}
    </select>
</mapper>

